# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Folders
.vs/
Debug/
Release/

# Executables
*.exe
*.out
*.app
*.suo
*.json
*.sqlite
*.tlog
*.pdb
*.idb
/Application/Models/lowpolycloud/lowpolycloud.mtl
/Application/Models/cute character/cute_character.mtl
/Application/Models/lowpolygrassclump/low_poly_grass_clump.mtl
/.gitignore
